/* src/styles.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: transparent;
}

body {
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* .custom-snackbar-error {
  background-color: red !important;
}

.custom-snackbar-error .mat-simple-snackbar {
  color: white !important;
}

.custom-snackbar-error .mat-simple-snackbar-action {
  color: white !important;
} */